@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
    body > *:not(.print\:block) { display: none !important; }
    .print\:block { display: block !important; }
    @page { margin: 0; size: auto; }
}
